<p id="notice"><%= notice %></p>

<p>
  <strong>Note:</strong>
  <%= @note.note %>
</p>

<p>
  <strong>Id student:</strong>
  <%= @note.id_student %>
</p>

<p>
  <strong>Id group:</strong>
  <%= @note.id_group %>
</p>

<p>
  <strong>Id subject:</strong>
  <%= @note.id_subject %>
</p>

<%= link_to 'Edit', edit_note_path(@note) %> |
<%= link_to 'Back', notes_path %>
