<p id="notice"><%= notice %></p>

<p>
  <strong>Valor:</strong>
  <%= @note.valor %>
</p>

<p>
  <strong>Semester:</strong>
  <%= @note.semester %>
</p>

<%= link_to 'Edit', edit_note_path(@note) %> |
<%= link_to 'Back', notes_path %>
