<%= stylesheet_link_tag 'estudiante/estilo_moniusuario' , :media => "all" %>
<p id="notice"><%= notice %></p>

<h1>Students</h1>

<table>
  <thead>
    <tr class="columna1">
      <th>Codigo</th>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Documento</th>
      <th>Promedio</th>
      <th>Schedule</th>
      <th>User</th>
      <th>School</th>
      <th>Semester</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% if docente_signed_in? %>
    <% @students.each do |student| %>
      <tr class="columna2">
        <td><%= student.codigo %></td>
        <td><%= student.nombre %></td>
        <td><%= student.apellido %></td>
        <td><%= student.documento %></td>
        <td><%= student.promedio %></td>
        <td><%= student.schedule %></td>
        <td><%= student.user %></td>
        <td><%= student.school %></td>
        <td><%= student.semester %></td>
        <td><%= link_to 'Show', student %></td>
        <td><%= link_to 'Edit', edit_student_path(student) %></td>
        <td><%= link_to 'Destroy', student, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<%else%>
<%= link_to 'Nuevo estudiante', new_student_path %>
<%end%>