<p id="notice"><%= notice %></p>

<p>
  <strong>Codigo:</strong>
  <%= @student.codigo %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @student.nombre %>
</p>

<p>
  <strong>Apellido:</strong>
  <%= @student.apellido %>
</p>

<p>
  <strong>Documento:</strong>
  <%= @student.documento %>
</p>

<p>
  <strong>Promedio:</strong>
  <%= @student.promedio %>
</p>

<p>
  <strong>Schedule:</strong>
  <%= @student.schedule %>
</p>

<p>
  <strong>User:</strong>
  <%= @student.user %>
</p>

<p>
  <strong>School:</strong>
  <%= @student.school %>
</p>

<p>
  <strong>Semester:</strong>
  <%= @student.semester %>
</p>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
