<%= form_with(model: program, local: true) do |form| %>
  <% if program.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(program.errors.count, "error") %> prohibited this program from being saved:</h2>

      <ul>
      <% program.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :codigo %>
    <%= form.number_field :codigo, id: :program_codigo %>
  </div>

  <div class="field">
    <%= form.label :nombre %>
    <%= form.text_field :nombre, id: :program_nombre %>
  </div>

  <div class="field">
    <%= form.label :school_id %>
    <%= form.text_field :school_id, id: :program_school_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
