<%= form_with(model: schedule, local: true) do |form| %>
  <% if schedule.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(schedule.errors.count, "error") %> prohibited this schedule from being saved:</h2>

      <ul>
      <% schedule.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :dia %>
    <%= form.text_field :dia, id: :schedule_dia %>
  </div>

  <div class="field">
    <%= form.label :hora_inicio %>
    <%= form.time_select :hora_inicio, id: :schedule_hora_inicio %>
  </div>

  <div class="field">
    <%= form.label :hora_fin %>
    <%= form.time_select :hora_fin, id: :schedule_hora_fin %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
