<p id="notice"><%= notice %></p>

<p>
  <strong>Codschedule:</strong>
  <%= @schedule.codschedule %>
</p>

<p>
  <strong>Dias:</strong>
  <%= @schedule.dias %>
</p>

<p>
  <strong>Inicio:</strong>
  <%= @schedule.inicio %>
</p>

<p>
  <strong>Fin:</strong>
  <%= @schedule.fin %>
</p>

<p>
  <strong>Id subject:</strong>
  <%= @schedule.id_subject %>
</p>

<%= link_to 'Edit', edit_schedule_path(@schedule) %> |
<%= link_to 'Back', schedules_path %>
