<%= form_with(model: subject, local: true) do |form| %>
  <% if subject.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(subject.errors.count, "error") %> prohibited this subject from being saved:</h2>

      <ul>
      <% subject.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :codsubject %>
    <%= form.text_field :codsubject, id: :subject_codsubject %>
  </div>

  <div class="field">
    <%= form.label :nombre %>
    <%= form.text_field :nombre, id: :subject_nombre %>
  </div>

  <div class="field">
    <%= form.label :id_credit_id %>
    <%= form.text_field :id_credit_id, id: :subject_id_credit_id %>
  </div>

  <div class="field">
    <%= form.label :id_program_id %>
    <%= form.text_field :id_program_id, id: :subject_id_program_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
