<p id="notice"><%= notice %></p>

<p>
  <strong>Codigo:</strong>
  <%= @subject.codigo %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @subject.nombre %>
</p>

<p>
  <strong>Credit:</strong>
  <%= @subject.credit %>
</p>

<p>
  <strong>Note:</strong>
  <%= @subject.note %>
</p>

<p>
  <strong>Program:</strong>
  <%= @subject.program %>
</p>

<p>
  <strong>Schedule:</strong>
  <%= @subject.schedule %>
</p>

<%= link_to 'Edit', edit_subject_path(@subject) %> |
<%= link_to 'Back', subjects_path %>
