<%= form_with(model: teacher, local: true) do |form| %>
  <% if teacher.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(teacher.errors.count, "error") %> prohibited this teacher from being saved:</h2>

      <ul>
      <% teacher.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :codigo %>
    <%= form.number_field :codigo, id: :teacher_codigo %>
  </div>

  <div class="field">
    <%= form.label :nombre %>
    <%= form.text_field :nombre, id: :teacher_nombre %>
  </div>

  <div class="field">
    <%= form.label :apellido %>
    <%= form.text_field :apellido, id: :teacher_apellido %>
  </div>

  <div class="field">
    <%= form.label :school_id %>
    <%= form.text_field :school_id, id: :teacher_school_id %>
  </div>

  <div class="field">
    <%= form.label :schedule_id %>
    <%= form.text_field :schedule_id, id: :teacher_schedule_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
