<p id="notice"><%= notice %></p>
<%= stylesheet_link_tag 'estudiante/estilo_moniusuario' , :media => "all" %>
<header class="header">
  <div class="contenedor" >
      <img class="logo"  src="<%= asset_path 'logo.jpg' %>"  width="400px" height="80px">
      <span class="icon-menu" id="btn-menu"></span>
      <nav class="nav" id="nav">
      <ul class="menu">
      <li class="menu-item"><a class="menu_link select"  href="../bienvenido/index.html">Inicio</a></li>
      <li class="menu-item"><a class="menu_link" href="../bienvenido/monitorias.html">Monitorias</a>
      <li class="menu-item"><a class="menu_link" href="../bienvenido/nosotros.html">Estudia Con Nosotros</a></li>
      <li class="menu-item"><a class="menu_link" href="../bienvenido/cursos.html">Cursos</a></li>
      <li class="menu-item"><a class="menu_link" href="../bienvenido/contactenos.html">Contactenos</a></li>
    </ul>
    </nav>
    </div>
    </header>
<h1>Teachers</h1>

<table>
  <thead>
    <tr>
      <th>Codigo</th>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>School</th>
      <th>Schedule</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @teachers.each do |teacher| %>
      <tr>
        <td><%= teacher.codigo %></td>
        <td><%= teacher.nombre %></td>
        <td><%= teacher.apellido %></td>
        <td><%= teacher.school %></td>
        <td><%= teacher.schedule %></td>
        <td><%= link_to 'Show', teacher %></td>
        <td><%= link_to 'Edit', edit_teacher_path(teacher) %></td>
        <td><%= link_to 'Destroy', teacher, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Teacher', new_teacher_path %>
