<p id="notice"><%= notice %></p>

<p>
  <strong>Codschool:</strong>
  <%= @school.codschool %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @school.nombre %>
</p>

<p>
  <strong>Id teacher:</strong>
  <%= @school.id_teacher %>
</p>

<p>
  <strong>Id subject:</strong>
  <%= @school.id_subject %>
</p>

<%= link_to 'Edit', edit_school_path(@school) %> |
<%= link_to 'Back', schools_path %>
